
#home {
    position: relative; 
    background: none;
    padding-top: 8rem !important;
    padding-bottom: 8rem !important;
    color: white; 
    overflow: hidden; 
}

.video-background-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: 0; 
    background: #000;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
}
.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: blur(6px)
}

.header-content-overlay {
    position: relative;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.border-bottom {
    border-bottom-color: var(--bs-primary) !important;
}

.p-4.bg-light.rounded.shadow-sm:hover {
    transform: translateY(-3px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
    transition: all 0.3s ease-in-out;
}